* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper_index{
    display: grid;
    height: 100%;
    width: 100%;
    gap: 8px;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 175px 300px 1.5fr 25rem 25rem 25rem 10rem;

    grid-template-areas: 
    "he he he"
    "ts ts ts"
    "ws ws ws"
    ".  a1 . "
    ".  a2 . "
    ".  a3 . "
    "fo fo fo"
    ;
    
}

header{
    background: rgb(75, 0, 130);
    grid-area: he;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav{
    z-index: 2;
    background: rgb(56, 9, 89);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    right: 0px;
    top: 0px;
    width: 56px;
    position: fixed;
    grid-area: na;

}

#nav_links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: rgb(56, 9, 89);
    position: absolute;
    right: 0px;
    top: -100vh;
    width: 200px;
    list-style: none;
    transition: all 0.5s;
}

.nav_active {
    /* z-index: 2; */
    transform: translateY(100vh);
}

.burger_line{
    width: 25px;
    height: 3px;
    background: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

.crossed_line #line_2 {
    opacity: 0;
}

.crossed_line #line_1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.crossed_line #line_3{
    transform: rotate(45deg) translate(-5px, -6px);
}

#burger {
    cursor: pointer;
}

#trailer_section{
    margin: 20px;
    box-shadow: 0px 0px 10px rgb(196, 196, 196);

    grid-area: ts;
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome_section{
    background: rgb(75, 0, 130);
    grid-area: ws;
    display: flex;
    align-items: space-evenly;
    justify-content: space-evenly;
}
#welcome_text{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 2rem;
    background: rgb(75, 0, 130);
}

.advertisement_img{
    width: 250px;
    height: auto;
}

#logo_img{
    width: 300px;
    height: auto;
}

.advertisement{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    box-shadow: 0px 0px 10px rgb(196, 196, 196);
}

#advertisement_1{
    grid-area: a1;
}

#advertisement_2{
    grid-area: a2;
}

#advertisement_3{
    grid-area: a3;
}

.advertisement_text{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

#wrapper_bli_medlem{
    display: grid;
    height: 100%;
    width: 100%;
    gap: 8px;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 175px 7rem auto auto 20rem 6rem 6rem 6rem 7rem 10rem;
    grid-template-areas: 
    "he he"
    "h1 h1"
    "pd pd"
    "ws ws"
    "wt wt"
    "b1 b1"
    "b2 b2"
    "b3 b3"
    "sk . "
    "fo fo"
    ;
    
}

#why_become_member_section{
    grid-area: ws;
}

#why_become_member_trailer_section{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0px 0px 10px rgb(196, 196, 196);
    margin-left: 20px;
    margin-right: 20px;
    grid-area: wt;
    margin-bottom: 30px;
}

#why_become_member_trailer{
    width: 90%;
    height: 90%;
}

#bli_medlem_secion1{
    grid-area: b1;
    background: white;
    box-shadow: 0px 0px 10px rgb(196, 196, 196);
}

#bli_medlem_secion2{
    background: white;
    box-shadow: 0px 0px 10px rgb(196, 196, 196);
    grid-area: b2;
}

#bli_medlem_secion3{
    background: white;
    box-shadow: 0px 0px 10px rgb(196, 196, 196);
    grid-area: b3;
}

#skicka_button{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-area: sk;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;

}

button{
    background: white;
    color: black;
    width: 6rem;
    height: 3rem;
    font-size: 1.25rem;
    box-shadow: 0px 0px 2px rgb(19, 19, 19);
    border: none;
    margin-left: 10px;
}
button:hover{
    background: rgb(248, 238, 255);
    color: rgb(56, 9, 89);
}

input{
    width: 70vw;
    height: 7vw;
}

input::placeholder{
    font-size: 3.5vw;
}

.bli_medlem_sections{
    display: flex;
    flex-direction: column;
    padding: 10px;

}

#wrapper_tavlingar{
    display: grid;
    height: 100%;
    width: 100%;
    gap: 8px;
    grid-template-columns: 1fr;
    grid-template-rows: 175px 100px auto 3rem 100vw 3rem 100vw 3rem 100vw 10rem;
    grid-template-areas: 
    "he"
    "h1"
    "pd"
    "n1"
    "d1"
    "n2"
    "d2"
    "n3"
    "d3"
    "fo"
    ;
    
}

.contest_details{
    display: none;

}

.contest_details_mobile{

    display: flex;
    flex-direction: row;
    font-size: 2rem;
    /* margin-left: -93px; */
    font-weight: bold;
    margin-top: 10px;
}

.skicka_in_button_mobile{
    /* position: absolute; */
    margin-left: 0px;
    margin-top: 10px;
    z-index: 1;
}


.skicka_in_button{
    /* position: absolute; */
    margin-left: 0px;
    margin-top: 10px;
    /* display: none; */
}



.contest_description_header{
    font-size: 6vw;
    margin-bottom: 10px;

}

.contest_descriptions{
    color: white;
    text-shadow: 1px 1px 5px rgb(19, 19, 19);
    padding: 17vw;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
}


.contest_description_background{

    opacity: 80%;
    position: absolute;
    background: rgb(56, 9, 89);
    /* height: 300px; */
    width: 100%;
}

#contest_description_background_1{
    height: 370px;
}

#contest_description_background_2{
    height: 350px;
}

#contest_description_background_3{
    height: 300px;
}



#contest_h1{
    grid-area: h1;
}

.contest_name{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(75, 0, 130);
    color: white;
    /* margin-bottom: 0px; */

}

#contest_name1{
    grid-area: n1;
}

#contest1_details{
    grid-area: c1;
}

#contest1_description{

    display: flex;
    background-image: url(/img/sjudagars_tavlingen_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    grid-area: d1;
}

#contest_name2{
    grid-area: n2;
}


#contest2_details{
    grid-area: c2;

}

#contest2_description{
    background-image: url(/img/fantasy_tavlingen_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    grid-area: d2;
}

#contest_name3{
    grid-area: n3;
}


#contest3_details{
    grid-area: c3;
}

#contest3_description{
    background-image: url(/img/konst_films_tavlingen_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    grid-area: d3;
}

#page_description{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 15px;
    margin-right: 15px;
    grid-area: pd;
    box-shadow: 0px 0px 10px rgb(196, 196, 196);
}

#page_description_header{
    font-size: 1.5rem;
}

#wrapper_resultat{
    display: grid;
    height: 100%;
    width: 100%;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 175px 100px auto 5rem 1fr 1fr 5rem 1fr 1fr 10rem;
    grid-template-areas: 
    "he he"
    "h1 h1"
    "pd pd"
    "r1 r1"
    "m1 d1"
    "m2 d2"
    "r2 r2"
    "d3 m3"
    "d4 m4"
    "fo fo"
}

.results_movie{
    background: rgb(34, 0, 58);
    box-shadow: 0px 0px 10px rgb(196, 196, 196);

}

.results_descriptions{
    background: white;
    box-shadow: 0px 0px 10px rgb(196, 196, 196);
}

#contest_1_results{
    grid-area: r1;
    padding: 40px;
}

#contest_2_results{
    grid-area: r2;
    padding: 40px;
}

#result_movie_1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: m1;
}

#result_description_1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: d1;
}


#result_movie_2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: m2;
}

#result_description_2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: d2;
}


#result_movie_3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: m3;
}

#result_description_3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: d3;
}


#result_movie_4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: m4;
}

#result_description_4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: d4;
}

.rank{
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 5px;
}

.film_name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.35rem;
}

.film_description{
    font-size: 1.10rem;
    margin-left: 15px;
    margin-right: 15px;
}

.creator_name{
    display: flex;
    justify-content: space-around;
    font-size: 1.05rem;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;

    margin-right: 0;
}

.crowd_images{
    width: 100%;
    height: auto;
    position: relative;
    bottom: 30px;
}

.crown_images{
    width: 50px;
    height: auto;
}

.medal_images{
    width: 75px;
    height: auto;
    margin: 10px;
}

footer{
    display: flex;
    background: rgb(75, 0, 130);
    grid-area: fo;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.footer_link_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
}

.footer_list_item{
    margin: 5px;
}

h1{
    color: white;
    background: rgb(75, 0, 130);
    grid-area: h1;
    display: flex;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2{
    font-size: 0.9rem;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

h3{
    margin-bottom: 7px;
    font-size: 2rem;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

h4{

    z-index: 1;
    margin-right: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
}

li {
    color: white;
    list-style: none;
    text-decoration: none;
}

a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(223, 175, 255);
    list-style: none;
    text-decoration: none;
}

a:hover{
    list-style: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

p{
    z-index: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.advertisement_img:hover{
    opacity: 75%;
    transition: all 0.2s;
}

@media screen and (min-width:800px) {

    #burger {
        display: none;
    }

    nav{
        z-index: 2;
        height: 2rem;
        left: 0;
        right: 0;
        top: 175px;
        width: 100%;
        position: sticky;
        top: 10px;
        grid-area: na;
    }

    #wrapper_index{
        grid-template-columns: 3fr 6fr 6fr 6fr 3fr;
        grid-template-rows: 175px 2rem 500px 1.5fr 50px minmax(25rem, auto) 75px 10rem;
        grid-template-areas: 
        "he he he he he"
        "na na na na na"
        ".  ts ts ts . "
        "ws ws ws ws ws"
        ".  .  .  .  . "
        ".  a1 a2 a3 . "
        ".  .  .  .  . "
        "fo fo fo fo fo"
        ;   
    }

    #nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: inherit;
        height: 3.9rem;
        left: 0px;
        top: 175px;
        right: 0px;
        width: 100%;
        list-style: none;
        transition: none;
    }

    #trailer{
        width: 90%;
        height: 90%;
    }

    .advertisement{
        display: flex;
        margin: 10px;
        justify-content: space-evenly;
        align-items: center;
    }

    .advertisement_img{
        width: 80%;
        height: auto;
        margin-left: 10%;
        margin-right: 10%;
    }

    #welcome_text{
        font-size: 4rem;
    }

    #wrapper_bli_medlem{
        display: grid;
        height: 100%;
        width: 100%;
        gap: 8px;
        grid-template-columns: 0.75fr 1.75fr 0.40fr 0.75fr;
        grid-template-rows: 175px 2rem 7rem auto auto 25rem 10rem 7rem 10rem;
        grid-template-areas: 
        "he he he he"
        "na na na na"
        "h1 h1 h1 h1"
        "pd pd pd pd"
        "ws ws ws ws"
        "wt wt wt wt"
        ".  b1 b1 . "
        ".  b2 b2 . "
        ".  b3 b3 . "
        "-  sk .  . "
        "fo fo fo fo"
        ;
    }
    
    #why_become_member_section{
        grid-area: ws;
    }
    
    #why_become_member_trailer_section{
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        box-shadow: 0px 0px 10px rgb(196, 196, 196);
        margin-left: 100px;
        margin-right: 100px;
        grid-area: wt;
        margin-bottom: 30px;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    #why_become_member_trailer{
        width: 70%;
        height: 90%;
    }
    

    .bli_medlem_sections{
        margin: 10px;
    }

    input{
        font-size: 1.6rem;
        width: 80%;
        height: 3rem;
    }

    input::placeholder{
        font-size: 1.5rem;
    }
    
    
    #wrapper_tavlingar{
        display: grid;
        height: 100%;
        width: 100%;
        gap: 8px;
        grid-template-columns: 1fr 8fr 8fr 1fr;
        grid-template-rows: 175px 2rem 7rem auto 6rem 40vw 6rem 40vw 6rem 40vw 10rem;
        grid-template-areas: 
        "he he he he"
        "na na na na"
        "h1 h1 h1 h1"
        "pd pd pd pd"
        "n1 n1 n1 n1"
        ".  c1 d1 . "
        "n2 n2 n2 n2"
        ".  d2 c2 . "
        "n3 n3 n3 n3"
        ".  c3 d3 . "
        "fo fo fo fo"
        ;
    }

    .contest_description_background{
        display: none;
    }


    .contest_details{
        font-size: 7vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px rgb(196, 196, 196);
        font-weight: bold;
        color: white;
        margin-left: 0px;
        text-shadow: 1px 1px 5px rgb(19, 19, 19);

    }
    

    .contest_details_mobile{
        display: none;
    }

    .contest_description_header{
        font-size: 4vw;
        margin-bottom: 10px;
    }

    .contest_descriptions{
        padding: 20px;

        color: black;
        text-shadow: none;
    
        font-size: 1.5rem;
    }

    #contest1_details{
        grid-area: c1;
        background-image: url(/img/sjudagars_tavlingen_img.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    #contest2_details{
        grid-area: c2;
        background-image: url(/img/fantasy_tavlingen_img.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }    

    #contest3_details{
        grid-area: c3;
        background-image: url(/img/konst_films_tavlingen_img.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    #contest1_description{
        background-image: none;

        grid-area: d1;
    }
    #contest2_description{
        background-image: none;

        grid-area: d2;
    }
    #contest3_description{
        background-image: none;

        grid-area: d3;
    }
    

    #contest_h1{
        grid-area: h1;
    }
    
    .contest_name{
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(75, 0, 130);
        color: white;
        padding: 40px;

    }

    .skicka_in_button{

        position: relative;
    

        margin-top: 2rem;
        margin-left: 0px;

    }

    .skicka_in_button_mobile{
        display: none;
    }


    #page_description{
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 150px;
        margin-right: 150px;
        grid-area: pd;
        box-shadow: 0px 0px 10px rgb(196, 196, 196);
    }

    #page_description_header{
        font-size: 2rem;
    }    

    #wrapper_resultat{
        display: grid;
        height: 100%;
        width: 100%;
        gap: 8px;
        grid-template-columns: 1fr 2fr 2fr 1fr;
        grid-template-rows: 175px 2rem 7rem auto 100px 1fr 1fr 100px 1fr 1fr 10rem;
        grid-template-areas: 
        "he he he he"
        "na na na na"
        "h1 h1 h1 h1"
        "pd pd pd pd"
        ".  r1 r1 . "
        ".  m1 d1 . "
        ".  m2 d2 . "
        ".  r2 r2 . "
        ".  d3 m3 . "
        ".  d4 m4 . "
        "fo fo fo fo"
    }

    .films {
        width: 30vw;
        height: 20vw;
    }

    h1{
        font-size: 4rem;
    }

    h2{
        font-size: 1.4rem;
    }

    h3{
        font-size: 1.8rem;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    h4{
        font-size: 7vw;
    }

    a{
        font-size: 1.25rem;
    }

    .film_description{
        margin-left: 10%;
        margin-right: 10%;
    }

    .nav_active {
        z-index: 2;
        transform: none;
    }

}